html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 1rem;
  background-color: #04394c;
  font-family: Helvetica, sans-serif;
  font-size: calc(1.5em);
  text-align: center;
  text-rendering: optimizeLegibility;
}
a,
input,
button {
  margin: 0.5rem;
  font-size: calc(1.5em);
  text-decoration: none;
}
a {
  color: #efefc8;
}
a:hover {
  color: #192f42;
  transition: all 0.3s;
}
input,
button {
  border: 0.0625rem solid #032734;
  border-radius: 0.0625em;
  padding: 0 1rem;
}
input:hover,
button:hover {
  color: #efefc8;
  transition: all 0.3s;
}
input {
  background-color: #006083;
  color: #0ca5dd;
}
input:focus {
  box-shadow: 0 0 0.1875em #000000;
  transition: all 0.3s;
}
button {
  background-color: #04394c;
  color: #006083;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: #212529;
  color: #F5F5DC;
}
td {
  padding: 0.75rem;
  vertical-align: top;
}
.content-container tr:hover {
  background-color: #006083;
  transition: all 0.2s;
}
.content-container tr:not(:first-child) {
  border-top: 0.0625rem solid #dee2e6;
}
.content-container tr:last-child {
  border-bottom: 0.0625rem solid #dee2e6;
}
.breadcrumb-container tr {
  border: 0.0625rem solid #dee2e6;
}
.breadcrumb-container td:hover {
  background-color: #006083;
  transition: all 0.2s;
}
.breadcrumb-container td:not(:first-child),
.content-container td:not(:first-child) {
  border-left: 0.0625rem solid #dee2e6;
}
.breadcrumb-container td:not(:last-child),
.content-container td:not(:last-child) {
  border-right: 0.0625rem solid #dee2e6;
}
form {
  width: auto;
  border: 0.0625rem solid rgba(255, 255, 255, 0.6);
}
.breadcrumb-container,
.content-container {
  margin: 1rem 0;
  border: 0.0625rem solid rgba(255, 255, 255, 0.6);
  padding: 0.5rem;
  background: #f68f1e;
  display: flex;
  justify-content: space-around;
}
